
.demo-content {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  border-radius: 2px;
  resize: none;
  height: 200px;
}

.text-editor {
  margin-bottom: 1rem;
  border: 1px solid #F1F1F1;
  padding: 1rem;

  > * {
    margin-bottom: 1rem;
  }
}

.editor-button {
  margin-top: 1rem;
  text-align: center;

  button {
    margin-right: 1rem;
  }
}

