@import "base.scss";

.header {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: $gray-600;
  background-attachment: scroll;
  position: relative;
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $gray-900;
    opacity: 0.5;
  }

  .heading {
    padding: 200px 0 150px;
    color: white;
    text-align: center;
    h1 {
      font-size: 50px;
      margin-top: 0;
    }
    @media only screen and (min-width: 768px) {
      padding: 200px 0;
      h1 {
        font-size: 80px;
      }
    }
  }
}
