@import "styles/base.scss";

.post-wrapper {
    // border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}

.post-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.post-meta {
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: $gray-600;
}

.post-button {
    margin: 0 0.3rem;
}

@media only screen and (min-width: 768px) {
    > a {
        > .post-title {
            font-size: 36px;
        }
    }
}
